.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 2rem;
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .logo img {
    max-width: 100%;
    height: auto;
  }
  

.logo {
  margin-left: .5rem;
}

  .navigation {
    display: flex;
    gap: 3rem;
    align-items: center;
  }
  
  .navigation a {
    text-decoration: none;
    color: #0070f3;
    font-size: .85rem;
  }
  
  .navigation a:hover {
    text-decoration: underline;
  }
  
  .userInfo {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .userInfo span {
    font-size: 16px;
  }
  
  .userInfo button {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    background-color: #0070f3;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .userInfo button:hover {
    background-color: #005bb5;
  }

  .myPic {
    border-radius: 50%;
  }
    