.eventosContainer {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #eaeaea;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding-bottom: 6rem; 
}

.eventosGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.evento {
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: white;
  transition: box-shadow 0.3s;
  text-align: center;
}

.evento:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.evento h2 {
  font-size: 1.5rem;
  color: #333;
  margin: 10px 0;
}

.evento p {
  font-size: 1rem;
  color: #555;
  margin: 5px 0;
}