.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--background);
  border-bottom: 1px solid #e0e0e0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.profile {
  display: contents;
}

.myPic {
  border-radius: 50%;
}

.navigation {
  display: flex;
  align-items: center;
}
  
.signup {
  background-color: var(--primary);
  color: var(--fondo);
  border-radius: 8px;
  border: 1px solid var(--primary);
  transition: background-color .5s;
}

.signup:hover {
  background-color: var(--fondo);
  color: var(--primary);
  transition: background-color 1s;
}

.login {
  color: var(--grey);
  text-decoration-line: underline;
}

.login:hover {
  color: var(--fondo);
}

.generico {
  color: var(--fondo);
}

.generico:hover {
  color: var(--grey);
}

.nav_elements {
  padding: 1rem 1.5rem;
  font-size: .8rem;
  font-weight: 600;
}
