.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.body {
  background-color: #f7f5f5;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ctas {
  margin-top: 20px;
}

.ctas a {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  border-radius: 5px;
}

.ctas .primary {
  background-color: #0070f3;
}

.ctas .secondary {
  background-color: #eaeaea;
  color: #000;
}

.bannerContainer {
  position: relative;
  width: 100vw;
  height: 40rem;
}

.oscurecer {
  filter: brightness(0.5);
  width: 100vw;
  height: 40rem;
  position: absolute;
}

.banner {
  left: 50;
}

.textBanner {
  display: flex;
  position: relative;
  color: white;
  height: inherit;
  padding: 8rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

