.btn {
    display: inline-block;
    padding: .8rem 1rem;
    text-decoration: none;
    font-weight: 700;
    color: var(--fondo);
    border-radius: 5px;
    border-width: 0;
    font-size: 1rem;
}

.principal {
    background-color: var(--primary);
    border-radius: 8px;
    border-color: transparent;
    border: 1px solid var(--primary);
    padding: 1rem 1.5rem;
    color: #272727;
    font-size: .8rem;
    font-weight: 600;
    transition: color .3s, background-color .5s;
}

.principal:hover {
    background-color: var(--fondo);
    color: var(--primary);
    transition: background-color .2s;
    cursor: pointer;
}

.secundario {
    background-color: var(--accent);
    box-shadow: 0px 0px 40px rgba(241, 203, 73, 0.4);
    border: 1px solid var(--accent);
    transition: background-color .5s;
}

.secundario:hover {
    background-color: var(--fondo);
    color: var(--accent);
    cursor: pointer;
    transition: background-color .3s;
}

.tercero {
    background-color: var(--background);
    border: 1px solid var(--fondo);
    transition: background-color .5s;
    width: 100%;
}

.tercero:hover{ 
    background-color: var(--fondo);
    color: var(--background);
    cursor: pointer;
    transition: background-color .3s;
}