.evento {
    display: flex;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 12px;
    height: 15rem;
    width: 20rem;
    background-color: white;
    transition: box-shadow 0.3s;
    /* text-align: center; */
    flex-direction: column;
  }
  
  .evento:hover {
    transform: translateY(-3px);
  }
  
  .list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .element {
    font-size: 1.2rem;
    margin: 8px 0;
    color: #333;
  }
  
  .b {
    color: #007BFF; /* Color de texto azul */
  }
  