.eventosContainer {
  margin-top: 2rem;
}

.eventosGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 2rem;
}

.evento {
  display: flex;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 12px;
  height: 13rem;
  width: 20rem;
  background-color: white;
  transition: box-shadow 0.3s;
  /* text-align: center; */
  flex-direction: column;
  justify-content: space-between;
}

.evento:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.evento h2 {
  font-size: 1.5rem;
  color: #333;
  margin: 10px 0;
}

.evento p {
  font-size: 1rem;
  color: #555;
  margin: 5px 0;
}